<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'products_charts',
            type: 'bar'
         },
         title: {
            text: '<%= product.name %>'
         },
         xAxis: {
            categories: ['Minimo', 'Maximo', 'real']
         },
         yAxis: {
            title: {
               text: 'Stock al año'
            }
         },
         series: [{
            name: 'Letsgo',
            data: [<%= product.minimum_stock %>, <%= product.maximum_stock %>, <%= product.real_stock %>]
         }]
      });
   });
</script>
<div id="products_charts" style="width: 250px; height: 200px;"></div>

