// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";


// To customize the Active Admin interfaces, add your
// styles here:
.index #active_admin_content #index_footer {
  color: white;
  a {
    display: none;
  }
}
.input_mediano {
  width: 400px !important;
  
}

#styled-select {
    border: 1px solid black !important;
    font-size: 14px !important;
    color: white !important;
    background: #444 !important;
    padding: 5px !important;
}

