// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";


// To customize the Active Admin interfaces, add your
// styles here:
.index #active_admin_content #index_footer {
  color: white;
  a {
    display: none;
  }
}
.input_mediano {
  width: 200px !important;
}


